# pydata stack
pandas
numpy
matplotlib
scipy
sklearn
seaborn

# notebooks
jupyter
jupytext # converts notebook to python script
jupyterlab
jupyterlab-code-formatter
ipywidgets

# connecting with databases
sqlalchemy

# code formatting
black
isort
